// // src/assets/scss/style.scss

// @import "bootstrap/functions";
// @import "bootstrap/variables";
// @import "bootstrap/maps";
// @import "bootstrap/mixins";
// @import "bootstrap/utilities";
// @import "bootstrap/root";
// @import "bootstrap/reboot";
// @import "bootstrap/type";
// @import "bootstrap/images";
// @import "bootstrap/containers";
// @import "bootstrap/grid";
// @import "bootstrap/tables";
// // @import "bootstrap/forms";
// @import "bootstrap/buttons";
// @import "bootstrap/transitions";
// @import "bootstrap/dropdown";
// // @import "bootstrap/button-group";
// //
// // ...and the rest of the Bootstrap imports
@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@400;700;800&display=swap');

body {
  font-family: 'Nanum Gothic', sans-serif;
  font-weight: 100;
}

$width: 440px;

.nav-link {
  color: #666;

  &.main-nav-link {
    font-size: 1.2em;
    font-weight: 700;
  }
}

#lightgallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
}

// @import "shortcodes/homepictures.scss"